.canvas {
  position:absolute;
  top: 0px;  
  right: 0px;

  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.webcam {

  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.tattoo {
  position:absolute;
  top: 0px;  
  right: 0px;

  width: 50%;
  border: 3px solid green;
  padding: 10px;
}